In [1]:
import pandas as pd
from copy import deepcopy

In [2]:
with open("input.txt") as f:
    data = f.read()

In [3]:
stacks, steps = data.split("\n\n")

In [4]:
stacks.split("\n")

['[M] [H]         [N]                ',
 '[S] [W]         [F]     [W] [V]    ',
 '[J] [J]         [B]     [S] [B] [F]',
 '[L] [F] [G]     [C]     [L] [N] [N]',
 '[V] [Z] [D]     [P] [W] [G] [F] [Z]',
 '[F] [D] [C] [S] [W] [M] [N] [H] [H]',
 '[N] [N] [R] [B] [Z] [R] [T] [T] [M]',
 '[R] [P] [W] [N] [M] [P] [R] [Q] [L]',
 ' 1   2   3   4   5   6   7   8   9 ']

In [5]:
df = pd.DataFrame(
    [i.replace("    ", " [?]").split(" ") for i in stacks.split("\n")[:-1]]
)

In [6]:
df

     0    1    2    3    4    5    6    7    8
0  [M]  [H]  [?]  [?]  [N]  [?]  [?]  [?]  [?]
1  [S]  [W]  [?]  [?]  [F]  [?]  [W]  [V]  [?]
2  [J]  [J]  [?]  [?]  [B]  [?]  [S]  [B]  [F]
3  [L]  [F]  [G]  [?]  [C]  [?]  [L]  [N]  [N]
4  [V]  [Z]  [D]  [?]  [P]  [W]  [G]  [F]  [Z]
5  [F]  [D]  [C]  [S]  [W]  [M]  [N]  [H]  [H]
6  [N]  [N]  [R]  [B]  [Z]  [R]  [T]  [T]  [M]
7  [R]  [P]  [W]  [N]  [M]  [P]  [R]  [Q]  [L]

In [7]:
stacks = []
for stack in df.T.to_records(index=False):
    current = [i.strip("[]") for i in stack if i != "[?]"]
    stacks.append(current)

In [8]:
# test blocks
# stacks=[['N','Z'],['D','C','M'],['P']]

In [9]:
steps = [i for i in steps.split("\n") if i]

In [10]:
def func(stacks, should_reverse):
    stacks = deepcopy(
        stacks
    )  # so that stacks is in original state for part 2, after part 1 is solved
    for step in steps:
        step = step.split()
        block_count = int(step[1])
        from_stack = int(step[3]) - 1
        to_stack = int(step[-1]) - 1
        # if True, the blocks are moved in reverse order (like one block at a time) (CrateMover 9000)
        # else all blocks are lifted at once and moved (CrateMover 9001)
        if should_reverse:
            stacks[to_stack] = (
                stacks[from_stack][:block_count][::-1] + stacks[to_stack]
            )  # for part 1
        else:
            stacks[to_stack] = (
                stacks[from_stack][:block_count] + stacks[to_stack]
            )  # for part 2

        stacks[from_stack] = stacks[from_stack][block_count:]
    return "".join([i[0] for i in stacks if len(i) > 0])

# part 1

In [11]:
func(stacks, should_reverse=True)

'QPJPLMNNR'

# part 2

In [12]:
func(stacks, should_reverse=False)

'BQDNWJPVJ'